.button {
	padding: 0.6em 1em 0.5em;
	border: none;
	border: 2px solid var.$primary;
	border-color: var(--button_border);
	background: var.$primary;
	background: var(--button_background);
	color: var.$white;
	color: var(--button_text);
	font-size: 1em;
	font-weight: 600;
	line-height: 1;

	&:hover {
		border-color: var(--button_border);
		background: var(--button_text);
		color: var(--button_background);
	}
}
