.input {
	display: block;
	flex: 1 1 100%;
	margin: 0;
	padding: 10px 25px;
	border: 2px solid var.$secondary;
	background: var.$white;
	color: var.$neutral;
	font-size: 1em;

	&::placeholder {
		color: var.$neutral;
		font-style: italic;
	}

	&[type='password'] {
		&::-ms-reveal {
			display: none;
		}
	}

	&:invalid {
		box-shadow: none;

		&:focus {
			border-color: var.$warning;
		}
	}

	&:valid {
		&[required] {
			border-color: var.$success;
		}
	}
}
