.dashboard {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr minmax(auto, 400px);
	grid-template-rows: repeat(var(--grid_rows), auto);
	align-content: start;
	padding: 30px;

	section {
		grid-column: 1 / -1;
	}

	h2 {
		margin: 0;
		font-size: 1.3em;
	}
}

.clients {
	display: flex;
	margin: 10px 0 20px;
	padding: 0;
	list-style-type: none;

	li {
		display: flex;
		align-items: center;
		margin-right: 50px;
		font-size: 1.2em;
	}

	.logo {
		display: block;
		width: 75px;
		height: 75px;
		margin-right: 30px;
		border-radius: 50%;
		background: var.$primary;
	}
}

.section {
	padding: 20px;
	border-radius: 8px;
	background: #ffffff;
	box-shadow: 0 2px 12px rgba(37, 51, 66, 0.15);
}
