.link {
	display: flex;
	align-content: center;
	align-items: center;
	padding: 15px;
	border-radius: 4px;
	text-align: left;
	text-decoration: none;

	svg {
		flex-shrink: 0;
		margin-right: 10px;
		color: inherit;
	}

	&:hover {
		background: var.$secondary;
		color: var.$white;
		text-decoration: none;
	}
}
